/*===================== 企业后台控制管理中心样式 =====================*/


/*===== 顶部样式 =====*/
.com_admin_top {
    width:100%;height:60px;
    background:rgb(50,50,50);
    border:2px solid rgb(200,200,200);
    color:lightgrey;
    position:fixed;top:30px;z-index:1;
}
.com_admin_top table {
    margin:0 auto;
    width:1000px;
}
.com_admin_top td {
    height:20px;
    font-size:20px;
}
.com_admin_top .right { text-align:right; }
.com_admin_top .right a {
    padding:5px 10px;
    color:dimgrey;
    font-weight:bold;
    text-decoration:none;
    background:white;
    border-radius:5px;
}
.com_admin_top .right a:hover {
    color:black;
}


/*===== 下面样式 =====*/
.com_admin_con {
    margin:0 auto;
    width:1000px;
    height:1010px;
    background:rgb(200,200,200);
    position:relative;top:-15px;
}


/*===== 左部样式 =====*/
.com_admin_left {
    width:150px;
    height:1000px;
    background:rgb(250,250,250);
    border-top:4px solid rgb(200,200,200);
    float:left;
}
.com_admin_left span { position:relative;top:2px; }
.com_admin_left img { padding-right:5px;width:15px; }
.com_admin_left a div {
    padding:10px 23px;
    border-left:4px solid rgb(200,200,200);
    border-bottom:1px solid lightgrey;
}
.com_admin_left a:hover div {
    background:rgb(220,220,220);
    border-left:4px solid rgb(45,195,230);
}
.com_admin_left  a {
    color:black;
    text-decoration:none;
}
.com_admin_left .level2 { padding-left:30px; }
.com_admin_left .none {
    height:340px;
    border-left:4px solid rgb(220,220,220);
}


/*===== 右部面包屑样式 =====*/
.com_admin_crumb_bai { width:100%;height:2px; }
.com_admin_crumb {
    margin:0 auto;
    width:830px;
    background:white;
}
.com_admin_crumb p {
    padding:5px 20px;
}


/*===== 右部样式 =====*/
.com_admin_right {
    width:840px;
    float:right;
}
.com_admin_home {
    margin:5px;
    width:830px;
    height:1000px;
    background:rgb(250,250,250);
}
.com_space {
    margin:0 20px;
    padding:0 20px;
}
.com_space a {
    padding:5px 20px;
    color:dimgrey;
    text-decoration:none;
    border-radius:3px;
    background:orange;
}
.com_space a:hover {
    color:white;
    background:darkred;
}
.com_admin_home div.bottom {
    width:700px;height:30px;
    background:rgb(230,230,230);
}
.com_admin_home div.top1 {
    width:140px;height:30px;
    background:orange;
}
.com_admin_home div.top2 {
    width:210px;height:30px;
    background:forestgreen;
}
.com_admin_home div.top3 {
    width:280px;height:30px;
    background:#00b7ee;
}
.com_admin_home div.top4 {
    width:350px;height:30px;
    background:crimson;
}


/*===== 右部分列表 =====*/
.com_admin_list {
    margin:5px;
    width:830px;
    height:940px;
    background:rgb(250,250,250);
}
.com_admin_list table {
    padding:10px 20px;
    padding-top:0;
    width:800px;
}
.com_admin_list td {
    padding:5px;
    border-bottom:1px solid lightgrey;
    text-align:center;
}
.com_admin_list .search_type {
    margin:10px;
    padding:10px;
    padding-top:20px;
    border-bottom:1px solid lightgrey;
}
.com_admin_list .search_type select { height:30px; }
.com_admin_list .search_type span.create_right { float:right; }
.com_admin_list .search_type span.create_right a { padding:5px 20px; }
/*列表按钮*/
.com_admin_list a.list_btn {
    padding:5px 20px;
    background:orangered;
    border-radius:2px;
    color:white;
    text-decoration:none;
    cursor:pointer;
}
a.list_btn:hover { background:darkred; }
a.list_a {
    color:rgb(14,144,210);
    text-decoration:none;
}
a.list_a:hover {
    color:red;
    text-decoration:underline;
}
/*内容设置中招聘的详情页面*/
.com_admin_list .pos { padding-top:40px; }
.companybtn {
    padding:5px 20px;
    border:1px solid orangered;
    border-radius:3px;
    color:white;
    font-family:'微软雅黑';
    font-size:20px;
    background:orangered;
    cursor:pointer;
}
a:hover .companybtn {
    border:1px solid darkred;
    background:darkred;
}
.com_admin_list .field_name { width:200px;text-align:end; }
.com_admin_list .right { text-align:left; }
input,textarea,select {
    border:1px solid lightgrey;
    border-radius:3px;
}
input,select { height:30px; }
input.field_value { padding:0 5px;width:290px; }
select { margin:5px auto;font-size:20px;font-family:'微软雅黑'; }
.com_admin_list .table_create {
    margin:10px auto;
    padding:10px 50px;
    width:780px;
    border:1px solid rgb(240,240,240);
    border-radius:3px;
}
.com_admin_list a.job {
    margin:0 5px;
    color:rgb(14,144,210);
    text-decoration:none;
}
.com_admin_list a.job:hover {
    color:red;
    text-decoration:underline;
}
/*===== 右部分列表 =====*/


.center { text-align:center; }


/*===企业后台详情页面的内容 ===*/
.admin_show_con {
    width:400px;height:200px;
    border:1px solid lightgrey;
    overflow:auto;
}
/*=== 企业后台详情页面的内容 ===*/