/*========== 这里是在线作品样式 ==========*/


.cre_content {
    margin:0 auto;
    width:1000px;
}
.cre_kong { width:100%;height:10px;clear:both; }


/*===== 用户类型 =====*/
.cre_select {
    width:100%;height:100px;
    background:#fafafa;
}
.cre_select img { width:20px;position:relative;top:4px; }
.cre_gener,.cre_per,.cre_com {
    padding:10px 20px;
    text-align:center;
    border:1px solid #dcdcdc;
    background:white;
    font-size:20px;
    font-family:'微软雅黑';
    color:grey;
    cursor:pointer;
    float:left;
}
.cre_gener { position:relative;top:25px;left:100px; }
.cre_per { position:relative;top:25px;left:200px; }
.cre_com { position:relative;top:25px;left:300px; }
.cre_jiantou1,.cre_jiantou2 {
    border:0;
    background:0;
    color:lightgrey;
    font-size:15px;
}
.cre_jiantou1 { position:relative;top:35px;left:-270px; }
.cre_jiantou2 { position:relative;top:35px;left:0; }


/*===== 片源类型 =====*/
.cre_cate,.cre_source {
    padding:10px;
    width:100%;
    background:#fdfdfd;
}
.cre_cate { color:grey; }
.cre_cate .text {
    margin:10px 0; margin-left:40px;
    width:280px; height:100px;
    border:1px solid lightgrey;
    text-align:center;
    line-height:80px;
    font-size:25px;
    cursor:pointer;
    float:left;
}
.cre_cate div:hover.text,.cre_cate div.curr.text {
    color:orangered;
    border:1px solid orangered;
}
.cre_cate .text .small {
    padding:0;
    font-size:12px;
    position:relative;top:-55px;
}
.cre_cate a {
    padding:0 2px;
    color:grey;
    text-decoration:none;
    border:0;
    font-size:15px;
}
.cre_cate a:hover,.cre_cate a.curr { color:orangered; }
.cre_cate a.add {
    padding:2px 10px;
    color:ghostwhite;
    border:1px solid red;
    background:orangered;
}
.cre_cate a:hover.add {
    color:white;
    background:red;
}


/*===== 在线片源 =====*/
.cre_source { width:100%;height:600px;border:1px solid #f0f0f0; }
.cre_source .source,.cre_source .title { width:990px; }
.source {
    padding:10px 4px;
}
.cre_source .title .orderPro {
    color:grey;
    text-decoration:none;
    float:right;
}
.cre_source .title a:hover.orderPro { color:orangered; }
.source .title { padding:0 5px; }
.source .cre_con {
    margin:3px;
    width:190px;
    border:1px solid ghostwhite;
    color:grey;
    float:left;
}
.source a {
    text-decoration:none;
    cursor:pointer;
}
.source a:hover .cre_con {
    color:orangered;
    border:1px solid orangered;
}
.source a:hover .cre_con div.dh {
    color:white;
    font-weight:bold;
    text-shadow:1px 1px black;
    display:block;
}
.source .img {
    width:190px; height:110px;
    color:#f0f0f0;
    font-size:30px;
    text-align:center;
    line-height:110px;
    background:#e6e6e6;
    overflow:hidden;
}
.source .cre_con .dh {
    width:190px; height:110px;
    font-size:18px;
    background:#000000;
    filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5;
    position:relative;
    display:none;
}
.source .cre_con .dh span:hover { color:orangered; }
.source img { height:200px; }
.source .text { text-align:center; }
.cre_cate text { margin:0 auto;width:100%; }
table.goodCus a { cursor:pointer; }
table.goodCus {
    margin:5px 10px;
    width:98%;
    color:grey;
    overflow:hidden;
}
table.goodCus td {
    padding:5px 10px;
    text-align:center;
    border-bottom:1px dashed lightgrey;
}
/*===== 定制片源的弹框 =====*/
.tankuang {
    padding:10px;
    display:none;
}
.tankuang .mask {
    width:100%;
    height:100%;
    background:black;
    filter:alpha(opacity:30); opacity:0.3;  -moz-opacity:0.3; -khtml-opacity:0.3;
    position:fixed; left:0; top:0; z-index:100;
}
.tankuang .con {
    padding:20px 0;
    width:600px;
    color:grey;
    background:white;
    position:fixed; left:28%; top:200px; z-index:100;
}
.tankuang input,.tankuang textarea {
    padding:5px;
    width:500px;
    border:1px solid lightgrey;
}
.tankuang .con p {
    padding:0 40px;
}
.tankuang .con p.tk_intro {
    padding:5px 10px;
    text-align:center;
}
.tankuang .con a {
    padding:10px 20px;
    color:red;
    background:grey;
    cursor:pointer;
    position:absolute; left:600px; top:0;
}
.tankuang .con a:hover { color:white; }
.tankuang .con button[type='submit'] {
    margin:10px 220px;
    padding:5px 20px;
    border:1px solid orangered;
    border-radius:3px;
    color:white;
    font-family:'微软雅黑';
    font-size:20px;
    background:orangered;
    cursor:pointer;
}