/*========== 这里是供应单位样式s(supply) ==========*/


/*=== 列表 ===*/
.de_title {
    margin:5px 0;
    padding-left:5px;
    width:710px;
    border-left:5px solid ghostwhite;
    border-bottom:1px solid gainsboro;
    color:grey;
}
.de_list {
    padding:10px;
    width:700px;
    border:1px solid lightgrey;
    border-radius:3px;
}
.de_list .record {}
.de_list .img {
    width:250px;height:100px;
    overflow:hidden;
}
.de_list td.text1,.de_list td.text2,.de_list td.text3 {
    padding:2px 10px;
    width:430px;
    text-align:center;
}
.de_list td.text1 { font-size:20px; }
.de_list td.text1 a.a_to_show {
    font-size:12px;
    color:grey;
    text-decoration:none;
    float:right;
}
.de_list td.text2 { color:grey;font-size:12px; }
.de_list td.text3 { color:grey; }


/*=== 右侧 ===*/
.de_right { margin-top:-35px;width:280px; }
.de_right .cate {
    width:260px;height:300px;
    border:1px solid rgb(240,240,240);
    background:rgb(250,250,250);
}
.de_right .title { padding:10px; }
.de_right .cate .con div.de_con {
    margin:0 10px;
    padding:10px 0;
    border-bottom:1px dashed lightgrey;
}
.de_right .cate .con div.de_con div {
    margin:8px 10px;
    width:7px;height:7px;
    background:grey;
    float:left;
}
.de_right .img {
    margin:10px 0;
    width:260px;height:500px;
    background:rgb(250,250,250);
    overflow:hidden;
}