/*==========前台首页 home.css============*/

body {
    margin:0;
    font-family:'微软雅黑';
}

/*=======header头========*/
.header {
    width:100%;height:30px;
    background:rgb(240,240,240);
    position:fixed;z-index:100;top:0;
    border-bottom:1px solid lightgrey;
}
.header_text {
    margin:0 auto;
    padding:5px;
    width:1000px;
}
.head_left {
    margin:0 5px;
    float:left;
}
.header a {
    margin:0 2px;
    /*color:black;*/
    color:grey;
    text-decoration:none;
}
.header a:hover {
    color:red;
    text-decoration:underline;
}
/*.header_right { position:relative;left:540px; }*/
.head_right {
    margin:0 5px;
    float:right;
}
.head_right a { cursor:pointer; }
.head_right select {
    margin:0;
    padding:0;
    height:22px;
    font-size:14px;
    color:orangered;
    border:1px solid lightgrey;
    background:rgb(240,240,240);
}
/*=======header头========*/


/*=======navigate菜单导航栏========*/
.nav {
    padding:1px 0;
    width:100%;
    background:white;
    border-bottom:2px solid pink;
    position:fixed;z-index:99;top:10px;
}
.baidi {    /*白底*/
    width:100%;height:150px;
    background:white;
}
.nav_body {
    margin:0 auto;
    width:1000px;
}
.nav_body div { float:left; }
.nav_right {
    width:310px;
    /*position:absolute;top:50px;right:200px;*/
    float:right;
}
.nav_right a {
    color:black;
    text-decoration:none;
}
.nav_right a:hover { text-decoration:underline; }
.logo { width:200px; border:0 none; }
a.nav_a {
    padding:11px 12px;
    color:black;
    text-decoration:none;
}
a:hover.nav_a {
    color:red;
    border-bottom:2px solid #e34220;
}
a.curr {
    padding:11px 20px;
    color:red;
    text-decoration:none;
    border-bottom:2px solid #e34220;
}
.navigate {
    clear:both;
    padding-top:5px;
    /*border-bottom:2px solid pink;*/
}
.navigate_a {
    margin:10px auto;
    width:1050px;
    font-size:20px;
}
.navigate_a a {
    padding:12px 14px;
    font-size:18px;
}
/*用户对本站的意见栏*/
/*=======navigate菜单导航栏========*/

/*=======切换========*/
.nav_qiehuan {
    margin:20px;
    padding:10px;
    border:1px solid lightgray;
    background:white;
    cursor:pointer;
    position:fixed;z-index:120;top:33px;left:300px;
}
.nav_qiehuan b:hover { color:orangered; }
.nav_qh {
    background:white;
    border:1px solid lightgrey;
    position:fixed;z-index:115;top:94px;left:200px;
}
.nav_hide {
    margin:2px auto;
    padding:11px 0;
    border-bottom:2px solid pink;
    box-shadow:0 10px 20px 0 lightgrey;
    /*display:none;*/
}
.imgMiniSize {
    width:12px;
    border:0 none;
    position:relative;top:1px;
}
/*.opinion {*/
    /*padding:5px 20px;*/
    /*color:white;*/
    /*background:red;*/
/*}*/
/*=======切换========*/

/*=======search搜索========*/
.search {
    position:relative;z-index:120;top:10px;left:70px;
}
.global_search {
    padding-left:20px;
    width:220px;height:40px;
    border:2px solid #e34220;
}
.global_search_text {
    width:100px;height:46px;
    border:2px solid #e34220;
    color:white;
    font-size:20px;
    font-family:'黑体';
    background:#e34220;
    position:relative;top:2px;left:-8px;
    cursor:pointer;
}
.key_word {
    font-size:14px;
    color:grey;
    position:relative;top:10px;left:100px;
}
.search_input {
    padding-left:80px;
    width:160px; height:40px;
    border:2px solid #e34220;
}
.search_text {
    width:80px;height:46px;
    /*border:2px solid #e34220;*/
    border:0 none;
    color:white;
    font-size:20px;
    font-family:'黑体';
    background:#e34220;
    position:relative;top:2px;left:-8px;
    cursor:pointer;
}
.search_sel {
    padding:8px 5px;
    width:60px;
    font-size:18px;
    color:grey;
    border-right:1px solid rgb(240,240,240);
    position:relative;left:70px;top:5px;
    cursor:pointer;
}
.search_sel .curr_sel { padding:0 5px; }
.search_sel img {
    width:10px;
    position:relative;top:10px;left:5px;
    float:right;
}
.search_sel .sel_more img { left:-1px; }
.search_sel .sel_more {
    padding-top:0px; padding-bottom:5px;
    width:68px;
    border:1px solid #e34220;
    border-top:0;
    background:white;
    position:absolute;top:-1px;left:1px;
    display:none;
}
div:hover.search_sel .sel_more { display:block; }
.search_sel .sel_more .sel_one {
    padding:9px 8px;
    width:52px;
}
.search_sel .sel_more div:hover.sel_one { background:gainsboro; }
.keyword_pos {
    width:370px;height:30px;
    font-size:12px;
    color:grey;
    overflow:hidden;
    position:relative;top:60px;left:-255px;
}
.keyword_pos a { color:grey;cursor:pointer; }
.keyword_pos a:hover { color:orangered; }
/*=======search搜索========*/


/*=======body 内容主题========*/
.content {
    margin:0 auto;
    width:1000px;
    /*position:relative;top:180px;*/
    position:relative;top:80px;
}
.content_kongbai {
    margin:5px 0;
    width:100%;height:110px;
    clear:both;
}
/*=======body 内容主题========*/


/*=======footer网站脚部========*/
.footer {
    width:100%;
    background:#434a54;
    position:fixed;z-index:100;bottom:0;
}
.footer_center {
    margin:0 auto;
    width:1000px;
    text-align:center;
}
.footer_pic {}
.footer_text a {
    margin:0 5px;
    color:lightgrey;
    text-decoration:none;
}
.footer_text a:hover {
    color:white;
    text-decoration:underline;
}
.footer_beizhu {
    color:lightgrey;
}
/*=======footer网站脚部========*/


/*=======创建页面========*/
td.head { text-align:center; }
/*=== 公用：div_hr ===*/
.div_hr {
    /*margin-bottom:20px;*/
    width:100%;
    /*height:20px;*/
    border-bottom:1px solid rgb(240,240,240);
}
/*=== 公用：星号 ===*/
.star { color:red; }
/*=== 公用：上传图片的样式 ===*/
.readonly {
    border:1px solid rgb(200,200,200);
    background:rgb(240,240,240);
}
.uploadpic {
    margin:2px;
    padding:5px 20px;
    border:1px solid rgb(14,144,210);
    background:rgb(14,144,210);
    color:white;
    cursor:pointer;
}


/*=======创建页面========*/
.crumb a {
    color:rgb(14,144,210);
    text-decoration:none;
}
.crumb a:hover { color:red; }


/*=======用户资料========*/
.login_hide {
    margin:5px;
    padding:5px 0;
    border:1px solid grey;
    background:ghostwhite;
    position:absolute;left:0;
    /*display:none;*/
}
.login_hide a { padding:5px 15px; }
.login_hide a:hover {
    padding:2px 15px;
    color:white;
    background:darkred;
}
.radio { margin-top:5px; }


/*=== 前台公用搜索样式 ===*/
.home_search {
    padding:2px 10px;
    font-size:18px;
    border:1px solid lightgrey;
    border-radius:5px;
    font-family:"黑体";
}