/*=======body 内容主题========*/


/*=======幻灯片========*/
.ppt {
    height:400px;
    background:pink;
}
.ppt_change {
    position:relative;top:350px;
}
.ppt_change_bg {
    width:1000px;height:50px;
    background:black;
}
.jiantou_left {
    color:white;
    position:relative;bottom:35px;left:10px;
}
.jiantou_right {
    color:white;
    position:relative;bottom:35px;left:955px;
}
.ppt_change_pic {
    position:relative;bottom:78px;
}
.ppt_change_pic li {
    margin:2px;
    width:25px;height:25px;
    border:3px solid white;
    list-style:none;
    float:left;
}
/*=======幻灯片========*/


/*=======在线创作========*/
.floor { clear:both; }
.floor_img { width:60px; }
.floor_text {
    color:white;
    font-size:24px;
    font-family:'黑体';
    position:relative;top:-5px;right:60px;
}
.floor_text2 {
    font-size:30px;
    font-family:'黑体';
    position:relative;top:-5px;left:-30px;
}
.online {}
.online_con {
    width:100%;
    height:300px;
    border:1px solid red;
}
.online_con td {
    border:1px solid red;
}
.online_con td.con_first {
    width:30%;
}
.trait {}
.trait_con {
    height:100px;
    border:1px solid red;
}
.trait_con td {
    width:92px;height:92px;
    border:1px solid red;
}
.trait_con td span {
    padding:30px;
    font-size:30px;
    color:lightgrey;
}
/*=======在线创作========*/