/*==========前台首页 home.css============*/

body { margin:0; }

/*=======header头========*/
.header {
    width:100%;height:30px;
    background:rgb(240,240,240);
    position:fixed;z-index:100;top:0;
}
.header_text {
    margin:0 auto;
    padding:5px;
    width:1000px;
}
.header a {
    /*color:black;*/
    color:grey;
    text-decoration:none;
}
.header_right {
    position:relative;left:540px;
}
/*=======header头========*/


/*=======navigate菜单导航栏========*/
.nav {
    padding:2px 0;
    width:100%;
    background:white;
    border-bottom:2px solid pink;
    position:fixed;z-index:99;top:10px;
}
.baidi {    /*白底*/
    width:100%;height:150px;
    background:white;
}
.nav_body {
    margin:0 auto;
    width:1000px;
}
.nav_body div { float:left; }
.nav_right {
    position:relative;top:25px;left:450px;
}
.nav_right a {
    color:black;
    text-decoration:none;
}
.logo { width:200px; }
.navigate {
    clear:both;
    padding-top:5px;
    border-bottom:2px solid pink;
}
.navigate_a {
    margin:10px auto;
    width:1000px;
}
a.nav_a {
    padding:11px 12px;
    color:black;
    text-decoration:none;
}
a:hover.nav_a {
    color:red;
    border-bottom:2px solid #e34220;
}
a.curr {
    padding:11px 20px;
    color:red;
    text-decoration:none;
    border-bottom:2px solid #e34220;
}
/*=======navigate菜单导航栏========*/

/*=======切换========*/
.nav_qiehuan {
    margin:20px;
    padding:10px;
    border:1px solid lightgray;
    background:white;
    cursor:pointer;
    position:fixed;z-index:120;top:30px;left:330px;
}
.nav_qh {
    background:white;
    border:1px solid lightgrey;
    position:fixed;z-index:115;top:88px;left:200px;
}
.nav_hide {
    margin:5px auto;
    padding:10px 0;
    display:none;
}
.imgMiniSize { width:15px; }
/*=======切换========*/
/*=======search搜索========*/
.search {
    position:fixed;z-index:110;top:40px;left:450px;
}
.global_search {
    width:250px;height:40px;
    border:2px solid #e34220;
}
.global_search_text {
    width:100px;height:46px;
    border:2px solid #e34220;
    color:white;
    font-size:20px;
    font-family:'黑体';
    background:#e34220;
    position:relative;top:2px;left:-8px;
    cursor:pointer;
}
.key_word {
    font-size:14px;
    color:grey;
    position:relative;top:60px;left:140px;
}
/*=======search搜索========*/


/*=======body 内容主题========*/
.content {
    margin:0 auto;
    width:1000px;
    position:relative;top:160px;
}
.content_kongbai {
    margin:5px 0;
    width:100%;height:110px;
}
/*=======body 内容主题========*/


/*=======footer网站脚部========*/
.footer {
    width:100%;
    background:#434a54;
    position:fixed;z-index:100;bottom:0;
}
.footer_center {
    margin:0 auto;
    width:1000px;
    text-align:center;
}
.footer_pic {}
.footer_text a {
    color:white;
    text-decoration:none;
}
.footer_beizhu {
    color:white;
}
/*=======footer网站脚部========*/