/*=======body 内容主题========*/


/*=======幻灯片========*/
.ppt {
    width:1920px;
    height:400px;
    overflow:hidden;
    /*background:pink;*/
    /*position:relative;top:45px;*/
    position:relative;top:46px;
}
.ppt_pic { width:3840px; }
.ppt_pic li { list-style:none;float:left;position:relative;left:-40px;top:-15px; }
.ppt_change {
    margin:0 auto;
    width:1000px;
    position:relative;top:325px;
}
.ppt_change_bg {
    width:100%;height:60px;
    background:black;
    filter:alpha(opacity=40);opacity:0.40;
}
.ppt_change_pic {
    position:absolute;bottom:-12px;left:-35px;
}
.ppt_change_pic li {
    margin-left:5px;
    width:100px;height:45px;
    border:2px solid white;
    list-style:none;
    font-size:30px;
    color:ghostwhite;
    text-align:center;
    background:gainsboro;
    float:left;
    overflow:hidden;
    cursor:pointer;
}
.ppt_change_pic li:hover,.ppt_change_pic li.curr { border:2px solid red; }
.ppt_change_pic img {
    width:250px;
    position:relative;left:-60px;
}
.jiantou_left {
    color:white;
    position:relative;bottom:40px;left:10px;
}
.jiantou_right {
    color:white;
    position:relative;bottom:40px;left:955px;
}
/*=======幻灯片========*/


/*=======在线创作========*/
.floor { clear:both;border-bottom:2px solid ghostwhite; }
.floor span.more {
    float:right;
    cursor:pointer;
    color:grey;
    font-size:16px;
    border-bottom:1px solid grey;
}
.floor_img { width:60px; }
.floor_text {
    color:white;
    font-size:24px;
    font-family:'黑体';
    position:relative;top:-5px;right:60px;
}
.floor_text2 {
    font-size:30px;
    font-family:'黑体';
    position:relative;top:-5px;left:-30px;
}
.online,.selected { float:left; }
.online { /*width:790px;*/width:990px; }
.online_con {
    /*width:780px;*/
    width:980px;
    height:250px;
    /*border:1px solid red;*/
}
.online_first,.online_div {
    margin:2px;
    float:left;
}
.online_first {
    width:260px;height:250px;
    overflow:hidden;
}
.online_first img { width:260px; }
.online_div {
    width:175px;height:125px;
    /*overflow:hidden;*/
}
.online_div .con_img {
    width:100%;height:100px;
    overflow:hidden;
}
.online_div img { width:180px; }
.online_div .con_text {
    height:22px;
    text-align:center;
    background:rgb(250,250,250);
    overflow:hidden;
}
.con_text a {
    text-decoration:none;
    color:black;
    font-size:14px;
}
.con_text a:hover {
    text-decoration:underline;
    color:red;
}
/*===精选===*/
.selected {
    width:200px;height:300px;
    /*overflow:hidden;*/
    /*position:relative;top:15px;*/
}
.selected p {
    padding:5px;
    border-bottom:2px solid rgb(250,250,250);
}
.selected div {
    margin:4px 2px;
    border:1px solid rgb(240,240,240);
}
.selected .img {
    width:190px;height:80px;
    overflow:hidden;
}
.selected img {
    width:200px;
    position:relative;top:-30px;
}


/*===== 特色产品 =====*/
.trait {}
.trait_con {
    width:915px;
    height:100px;
    /*border:1px solid red;*/
    overflow:hidden;
    float:left;
}
.trait_con .img {
    margin-right:4px;
    width:148px;height:100px;
    overflow:hidden;
    float:left;
}
.trait_con .img .text {
    height:40px;
    background:rgba(0,0,0,0.5);
    position:relative;top:-40px;
}
.trait_con .img .text div {
    margin:0;
    height:18px;
    line-height:18px;
    text-align:center;
    font-size:14px;
    color:rgba(220,220,220,1);
}
.trait_con .img .text span {
    padding:0 5px;padding-bottom:5px;
    font-size:12px;
    color:rgba(180,180,180,1);
}
.trait_con img { width:160px; }
.trait_con .con_text {
    padding:30px;
    font-size:30px;
    color:lightgrey;
}
.arrow {
    margin-right:5px;
    width:80px;height:100px;
    float:right;
}
.con_left,.con_right {
    margin:4px 0;
    padding:6px 0;
    color:grey;
    font-size:20px;
    text-align:center;
    background:rgb(250,250,250);
    border:1px solid rgb(240,240,240);
    cursor:pointer;
}


/*===== 产品需求(样片需求) =====*/
.demand,.list,.demand_con .img,.img_num { float:left; }
.demand_con {
    width:760px;height:280px;
    /*border:1px solid red;*/
}
.demand_con .img {
    margin-right:4px;
    width:148px;height:280px;
    overflow:hidden;
}
.demand_con img {
    height:250px;
    position:relative;left:-100px;
}
/*===排行列表===*/
.list {
    width:230px;height:314px;
    overflow:hidden;
}
.list p,.sole p,.sole p,.rentinfo p {
    padding:5px;
    /*border-bottom:2px solid rgb(250,250,250);*/
}
.list_div {
    background:rgb(250,250,250);
}
.list .img_text {
    padding:8px;
    width:200px;
    border-left:4px solid rgb(230,230,230);
    border-bottom:1px solid rgb(230,230,230);
}
.list .img_text .img_num {
    width:10px;
}
.list .img {
    width:80px;height:45px;
    overflow:hidden;
    float:left;
}
.list img { width:80px; }
.list a {
    padding:0 5px;
    color:black;
    text-decoration:none;
    font-size:14px;
}
.img_text .click {
    color:grey;
    font-size:8px;
}
.img_text .click span,.img_num,.rentinfo span { color:red; }


/*===== 娱乐信息，租赁信息 =====*/
.fun,.sole,.rent,.rentinfo { float:left; }
.fun_con,.rent_con { width:760px; }
.fun_con .img_text,.rent_con .img_text {
    margin-right:4px;
    /*width:150px;*/
    background:rgb(250,250,250);
    border-bottom:1px dashed lightgrey;
    float:left;
}
.fun_con .img,.rent_con .img {
    width:148px;height:100px;
    /*border:1px solid red;*/
    overflow:hidden;
}
.fun_con img,.rent_con img { width:160px; }
.img_text .con_text {
    padding:4px 0;
    text-align:center;
    color:black;
}
/*===独家策划===*/
.sole,.rentinfo {
    width:230px;
    /*position:relative;top:16px;*/
}
.sole .img_text,.rentinfo .img_text {
    background:rgb(250,250,250);
    border-bottom:1px dashed lightgrey;
}
.sole .img {
    width:230px;height:100px;
    overflow:hidden;
}
.sole img { width:250px; }


/*===== 租赁信息 =====*/
.rentinfo .img_text { border-left:4px solid lightgrey; }
.rentinfo .con_text {
    padding:5px;
    text-align:left;
}


/*===== 设计信息 =====*/
.design {}
.design_con {
    width:1000px;height:250px;
}
.design_con .img_text,.design_con .img_text_first {
    margin-right:4px;
    /*border:1px solid red;*/
    overflow:hidden;
    float:left;
}
.design_con .img_text {
    margin-bottom:10px;
    width:170px;height:120px;
}
.design_con .img_text_first {
    width:300px;height:250px;
}
.design_con .img_text img { width:170px; }
.design_con .img_text_first img { width:300px; }


/*===== 实时数据 =====*/
.realtime {}
.realtime ul {
    width:1000px;
    position:relative;left:-40px;
}
.realtime li {
    margin-right:1px;
    list-style:none;
    text-align:center;
    float:left;
}
.realtime ul.title li { background:lightgrey; }
.con_wrap {
    width:995px;height:200px;
    border:1px solid lightgrey;
    position:relative;top:-20px;
    overflow:hidden;
}
.realtime_con .t1,.realtime_con .t2,.realtime_con .t3 { width:33.2%; }
.animate li { border-bottom:1px dashed lightgrey; }


/*===== 合作单位 =====*/
.cooperation {}
.cooperation_con {
    width:1000px;height:100px;
    /*border:1px solid red;*/
}
.cooperation_con .img {
    margin-right:4px;
    width:162px;height:100px;
    overflow:hidden;
    float:left;
}
.cooperation_con img { width:180px; }

/*右侧小列表定位*/
.selected,.list,.sole,.rentinfo {
    position:relative;top:18px;
}
.selected p,.list p,.sole p,.rentinfo p { padding-left:10px;color:lightgrey; }


/*===== 用户心声 =====*/
.voice {}
.voice_con {
    width:1000px;height:100px;
    border:1px solid rgb(230,230,230);
}
.voice_con div {
    /*border:1px solid lightgrey;*/
    float:left;
}
.voice .img {
    margin:2px;
    width:100px;height:96px;
    overflow:hidden;
}
.voice_con img { width:150px; }
.voice_con .text,.voice_con .con {
    margin:8px 0;
    margin-left:10px;
    padding:2px 10px;
    width:200px;height:80px;
    border-left:1px solid rgb(220,220,220);
}


/*===== 推荐创意 =====*/
.idea {}
.idea .img {
    width:220px; height:100px;
    background:rgb(240,240,240);
    overflow:hidden;
}
.idea_con .left,.idea_con .right {
    margin-right:5px;
    border:1px solid lightgrey;
    height:98px;
    float:left;
}
.idea_con .left { width:693px;overflow:hidden; }
.idea_con .left td {
    padding:5px 10px;
    width:90%;height:40px;
    /*border-bottom:1px dashed lightgrey;*/
}
.idea_con .left td.title {
    width:200px;
    border-right:1px dashed lightgrey;
}
.idea_con .right { width:293px;overflow:hidden; }
.idea_con .right div {
    padding:6px 10px;
    width:273px;
    border-bottom:1px dotted lightgrey;
}
.idea_con .right span.right_time,.talk_con .left span.right_time {
    float:right;
    font-size:12px;
    color:lightgrey;
}


/*===== 最新话题 =====*/
.talk {}
.talk_con .left,.talk_con .right {
    margin-right:5px;
    border:1px solid lightgrey;
    height:98px;
    float:left;
}
.talk_con .left { width:293px; }
.talk_con .left div {
    padding:5px 10px;
    width:273px;
    border-bottom:1px dashed lightgrey;
}
.talk_con .right { width:693px;height:98px;overflow:hidden; }
.talk_con .right div { padding:10px;height:98px; }


/*===== 搜索页面 =====*/
.searchlist { width:100%; }
.searchlist .waterfall {
    margin:10px 8px;
    width:180px; height:220px;
    border:2px solid rgb(230,230,230);
    background:rgb(240,240,240);
    float:left;
    cursor:pointer;
}
.searchlist div:hover.waterfall { border:2px solid orangered; }
.searchlist .waterfall .img {
    margin:10px;
    width:160px; height:160px;
    color:ghostwhite;
    font-size:40px;
    text-align:center;
    line-height:160px;
    background:white;
    overflow:hidden;
}
.searchlist .waterfall .img img { width:160px; }
.searchlist .waterfall .text {
    font-size:14px;
    text-align:center;
}
.searchlist .waterfall .cname {
    padding:0 10px;
    font-size:12px;
    color:grey;
}
.searchlist .waterfall2 {
    margin:10px 8px;
    width:480px; height:100px;
    border:2px solid rgb(230,230,230);
    background:rgb(240,240,240);
    float:left;
    cursor:pointer;
}
.searchlist .waterfall2 .water_one {
}





/*IE浏览器部分兼容代码*/
.ppt img,.content img {     /*图片边框*/
    border-style:none;
}