/*============= 会员后台 member.css ===============*/


.mem_con {
    margin:0 auto;
    width:1000px;
    position:relative;top:117px;
}
.mem_float {
    float:left;
}
.center { text-align:center; }

/*=========左侧菜单栏==========*/
.mem_left,.mem_right {
    padding:4px 0 4px 4px;
    background:rgb(230,230,230);
}
.mem_left { border-top-left-radius:3px;border-bottom-left-radius:3px; }
.mem_right { border-top-right-radius:3px;border-bottom-right-radius:3px; }
.mem_leftmenus {
    margin:0;
    padding:0;
    width:150px;height:700px;
    border-radius:3px;
    border:1px solid lightgrey;
    background:white;
}
.mem_leftmenus li {
    padding:10px 20px;
    list-style:none;
}
a {
    text-decoration:none;
    color:black;
    font-size:15px;
}
/*a:hover {}
a li.a_li {}*/
a:hover li.a_li,a li.a_li_curr {
    color:white;
    background:rgb(255,100,0);
}
.li_home,.li_one,.li_sub { background:rgb(245,245,245); }
.li_home { border-left:4px solid red; }
.li_one {
    margin:2px 0 0 10px;
    border-left:4px solid pink;
}
.li_sub {
    margin:2px 0 0 20px;
    border-left:4px solid lightgrey;
}
.a_li img {
    width:15px;
    position:relative;top:2px;
}
/*=========左侧菜单栏==========*/


/*=========右侧账户首页窗口==========*/
.mem_right {
    width:830px;height:701px;
}
.mem_win {
    padding:10px;
    width:800px;height:680px;
    background:white;
    border-radius:3px;
    border:1px solid lightgrey;
}
.mem_crumb {
    margin:0 auto;
    padding:5px 10px;
    width:760px;
    border:1px solid rgb(235,235,235);
    border-radius:4px;
    background:rgb(240,240,240);
}
.mem_crumb a { font-size:16px; }
.mem_crumb a:hover { color:red;text-decoration:underline; }
.mem_chart,.crumb { margin-left:10px;width:100%; }
.chart1,.mem_info {
    margin:10px 10px 10px 0;
    width:160px;height:50px;
    border:1px solid rgb(240,240,240);
    background:rgb(250,250,250);
    border-radius:3px;
}
.chart1 { float:left;margin-right:20px; }
.mem_info { float:right;margin-right:20px; }
.circle {
    width:50px;height:50px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.circle1 { background:rgb(220,110,30); }
.circle2 { background:rgb(225,200,85); }
.circle3 { background:rgb(45,195,230); }
.chart_text,.mem_user {
    padding:5px 20px;
}
.chart_text {
    font-size:15px;
    position:relative;top:-40px;left:50px;
}
.mem_user {
    font-size:12px;
    position:relative;top:-40px;left:35px;
}
.company_info {
    margin:0 auto;
    width:780px;height:50px;
    border-radius:3px;
    border:1px solid rgb(240,240,240);
    background:rgb(245,245,245);
    clear:both;
}
.companybtn {
    margin:15px 40%;
    padding:5px 10px;
    border:1px solid orangered;
    border-radius:3px;
    color:white;
    background:orangered;
    cursor:pointer;
}
/*=========右侧账户首页窗口==========*/


/*=========右侧列表窗口==========*/
.search_type {
    margin:10px;
    padding:10px;
    border-bottom:1px solid lightgrey;
}
.mem_tab { margin-top:-5px; }
.mem_tab li { list-style:none;float:left; }
.mem_tab a li {
    padding:0 10px 10px 10px;
    border-bottom:1px solid lightgrey;
}
.hr_tab {
    clear:both;
    margin:0 10px;
    height:2px;
    background:rgb(240,240,240);
}
.list_kongbai {
    width:100%;height:5px;
}
.list {
    margin:5px 20px;
    font-size:12px;
}
.list_tab { width:100%;border-collapse:collapse; }
.list_tab tr {
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}
.list_tab td { padding:5px 10px;font-size:14px; }
.list_btn {
    padding:2px 15px;
    background:orangered;
    border-radius:2px;
    color:white;
}
a.list_btn:hover { background:darkred; }
/*=========右侧列表窗口==========*/

/*=========右侧创建窗口==========*/
.mem_create { float:right; }
.mem_create a {
    margin:0 20px;
    padding:5px 10px;
    background:red;
    color:white;
}
.mem_create a:hover { background:darkred; }
.table_create {
    margin:10px auto;
    padding:10px 50px;
    width:780px;
    border:1px solid rgb(240,240,240);
    border-radius:3px;
}
input,textarea,select {
    border:1px solid lightgrey;
    border-radius:3px;
}
input { height:20px; }
select { height:25px; }
/*=========右侧创建窗口==========*/

/*=========右侧查看窗口==========*/
/*.table_show { border-collapse:collapse; }*/
.table_show td {
    padding:10px 50px;
    /*width:50%;*/
    border-bottom:1px solid lightgrey;
}
/*=========右侧查看窗口==========*/