/*============= 会员后台 member.css ===============*/


body { font-family:'微软雅黑'; }

.mem_con {
    margin:0 auto;
    width:1000px;
    position:relative;top:117px;
}
.mem_float {
    float:left;
}
.center { text-align:center; }

/*=========左侧菜单栏==========*/
.mem_left,.mem_right {
    padding:4px 0 4px 4px;
    background:rgb(230,230,230);
}
.mem_left { border-top-left-radius:3px;border-bottom-left-radius:3px; }
.mem_right { border-top-right-radius:3px;border-bottom-right-radius:3px; }
.mem_leftmenus {
    margin:0;
    padding:0;
    width:150px;height:1500px;
    border-radius:3px;
    border:1px solid lightgrey;
    background:white;
}
.mem_leftmenus li {
    padding:10px 20px;
    list-style:none;
}
a {
    text-decoration:none;
    color:black;
    font-size:15px;
}
a:hover {}
a li.a_li {}
a:hover li.a_li,a li.a_li_curr {
    color:white;
    background:rgb(255,100,0);
}
.li_home,.li_one,.li_sub { background:rgb(245,245,245); }
.li_home { border-left:4px solid red; }
.li_one {
    margin:2px 0 0 10px;
    border-left:4px solid pink;
}
.li_sub {
    margin:2px 0 0 20px;
    border-left:4px solid lightgrey;
}
.a_li img {
    width:15px;
    position:relative;top:2px;
}
/*=========左侧菜单栏==========*/


/*=========右侧账户首页窗口==========*/
.mem_right {
    width:830px;height:1502px;
}
.mem_win {
    padding:10px;
    width:800px;height:1480px;
    background:white;
    border-radius:3px;
    border:1px solid lightgrey;
}
.mem_crumb {
    margin:0 auto;
    padding:5px 10px;
    width:760px;
    border:1px solid rgb(235,235,235);
    border-radius:4px;
    background:rgb(240,240,240);
}
.mem_crumb a { font-size:16px; }
.mem_crumb a:hover { color:red;text-decoration:underline; }
.mem_chart,.crumb { margin-left:10px;width:100%; }
.chart1,.mem_info {
    margin:10px 10px 10px 0;
    width:160px;
    border:1px solid rgb(240,240,240);
    background:rgb(250,250,250);
    border-radius:3px;
}
.chart1 { float:left;margin-right:20px;height:50px; }
.mem_info { float:right;margin-right:20px;height:70px; }
.mem_info .detail {
    padding:2px 60px;
    background:rgb(240,240,240);
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    cursor:pointer;
    position:relative;bottom:30px;
}
.userInfoDetail {
    margin:2px 0;
    padding:5px 10px;
    background:white;
    border:1px solid lightgrey;
    border-top:2px solid orangered;
    border-radius:5px;
    position:relative;bottom:30px;
    display:none;
}
.circle {
    padding:5px;
    width:40px;height:40px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.circle1 { background:rgb(220,110,30); }
.circle2 { background:rgb(225,200,85); }
.circle3 { background:rgb(45,195,230); }
.chart_text,.mem_user {
    padding:5px 20px;
}
.chart_text {
    font-size:15px;
    position:relative;top:-40px;left:50px;
}
.mem_user {
    font-size:12px;
    position:relative;top:-50px;left:35px;
}
.company_info {
    margin:0 auto;
    width:780px;height:80px;
    border-radius:3px;
    border:1px solid rgb(240,240,240);
    background:rgb(245,245,245);
    clear:both;
}
.companybtn {
    padding:5px 20px;
    border:1px solid orangered;
    border-radius:3px;
    color:white;
    font-family:'微软雅黑';
    font-size:20px;
    background:orangered;
    cursor:pointer;
}
.companybtnpos { margin:20px 40%; }
/*=========右侧账户首页窗口==========*/


/*=========右侧列表窗口==========*/
.search_type {
    margin:10px;
    padding:10px;
    border-bottom:1px solid lightgrey;
}
.mem_tab { margin-top:-5px; }
.mem_tab li { list-style:none;float:left; }
.mem_tab a li {
    padding:0 10px 10px 10px;
    border-bottom:1px solid lightgrey;
}
.mem_tab a:hover li { color:red; }
.hr_tab {
    clear:both;
    margin:0 10px;
    height:2px;
    background:rgb(240,240,240);
}
.list_kongbai {
    width:100%;height:5px;
}
.list {
    margin:5px 20px;
    font-size:12px;
}
.list_tab { width:100%;border-collapse:collapse; }
.list_tab tr {
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}
.list_tab td { padding:5px 10px;font-size:14px; }
.list_btn {
    padding:4px 20px;
    background:orangered;
    border-radius:2px;
    color:white;
}
a.list_btn:hover { background:darkred; }
/*=========右侧列表窗口==========*/

/*=========右侧创建窗口==========*/
.mem_create { float:right; }
.mem_create a {
    margin:0 20px;
    padding:5px 10px;
    background:red;
    color:white;
}
.mem_create a:hover { background:darkred; }
.table_create {
    margin:10px auto;
    padding:10px 50px;
    width:780px;
    border:1px solid rgb(240,240,240);
    border-radius:3px;
}
.table_create .statusbtn a { padding:2px 10px;border-radius:3px;border:1px dashed lightgrey; }
.table_create .statusbtn a:hover { color:red;border:1px solid red; }
.table_create .statusbtn input { width:60px;padding:0 10px; }
.table_create td { padding:5px 10px; }
.table_create td.field_name { width:200px;text-align:end; }
input,textarea,select {
    border:1px solid lightgrey;
    border-radius:3px;
}
input,select { margin:5px 0;height:30px; }
input.field_value { padding:2px 5px;width:300px; }
select { font-size:20px;font-family:'微软雅黑'; }
input.radio { position:relative;top:10px; }
.td_border { padding:5px;border:1px dashed lightgrey; }
.table_create .upload {
    margin:2px;
    padding:2px 10px;
    border:1px solid red;
    background:orangered;
    color:white;
}
/*=========右侧创建窗口==========*/

/*=========右侧查看窗口==========*/
/*.table_show { border-collapse:collapse; }*/
.table_show td {
    padding:10px 50px;
    /*width:50%;*/
    border-bottom:1px solid lightgrey;
}
/*=========右侧查看窗口==========*/

/*=== *号备注 ===*/
.star { color:red; }


/*=========右侧详情页面==========*/
.table_create td.status_line { padding:0;border:0;font-family:'微软雅黑'; }
.status_line .title {
    margin-bottom:20px;
    text-align:center;
}
.status_line .con {
    margin:10px 0;
    margin-top:30px;
    margin-left:5px;
    width:99%;height:2px;
    background:rgba(240,240,240,1);
}
.status_line .pos { position:relative;top:-2px; }
.status_line .pos div { width:7px;height:7px;background:rgba(220,220,220,1);position:relative;float:left; }
.status_line a { width:50px;font-size:12px;cursor:pointer; }
.status_line a:hover div { background:rgba(255,0,255,1); }
.status_line a#status2 { position:absolute;left:35px; }
.status_line a#status3 { position:absolute;left:70px; }
.status_line a#status4 { position:absolute;left:105px; }
.status_line a#status5 { position:absolute;left:140px; }
.status_line a#status6 { position:absolute;left:175px; }
.status_line a#status7 { position:absolute;left:210px; }
.status_line a#status8 { position:absolute;left:245px; }
.status_line a#status9 { position:absolute;left:280px; }
.status_line a#status10 { position:absolute;left:315px; }
.status_line a#status11 { position:absolute;left:350px; }
.status_line a#status12 { position:absolute;left:385px; }
.status_line a#status13 { position:absolute;left:420px; }
.status_line a#status14 { position:absolute;left:455px; }
.status_line a#status15 { position:absolute;left:490px; }
.status_line a#status16 { position:absolute;left:525px; }
.status_line a#status17 { position:absolute;left:560px; }
.status_line a#status18 { position:absolute;left:595px; }
.status_line a#status19 { position:absolute;left:630px; }
.status_line a#status20 { position:absolute;left:665px; }
.status_line a span,.status_line #statustext0 {
    margin:0 5px;
    width:50px;
    border:1px solid rgba(230,230,230,1);
    color:grey;
    background:rgba(240,240,240,1);
}
.status_line a span {
    padding:0 5px;
    position:absolute;top:-20px;left:-30px;
    display:none;
}
.status_line #statustext0 {
    padding:2px 5px;
    font-size:12px;
}