/*========== 这里是关于我们样式a(about) ==========*/


body { font-family:'微软雅黑'; }

/*========== 窗口定位 ==========*/
.online_bg {
    padding:20px 0;
    width:100%;
    height:1050px;
    background:rgb(40,40,40);
}
.online_win {
    margin:40px auto;
    margin-bottom:50px;
    width:720px;
}
.online_win a.getpro { text-decoration:none;cursor:pointer; }
.online_win a.getpro .frame_title { margin-top:-5px; }
.online_win a:hover.getpro .frame_title {
    color:white;
    background:darkred;
}
.online_win .frame_title {
    padding:5px 0;
    width:740px;
    color:grey;
    text-align:center;
    background:black;
}
.online_win .frame_title .left {
    margin-left:10px;
    float:left;
    cursor:pointer;
}
.online_win .frame_title .right {
    margin-right:10px;
    float:right;
    cursor:pointer;
}
.online_win .frame_title span:hover.left,.online_win .frame_title span:hover.right { color:orangered; }
.online_win iframe { border:10px solid black;border-top:0;border-bottom:0; }
/*===== 渲染面板 =====*/
.online_win .render {
    margin:10px auto;
    padding:5px; padding-bottom:5px;
    width:730px;
    color:grey;
    background:black;
}
/*.online_win .render .title { text-align:center; }*/
.online_win .render .switch {
    color:darkred;
    cursor:pointer;
}
.online_win .render table {
    margin:0px;
    padding:0 10px;
    width:100%;
    background:rgb(50,50,50);
}
.online_win .render td {
    border-top:1px dotted rgb(60,60,60);
    border-bottom:1px dotted rgb(60,60,60);
}
.online_win .render td .red { color:orangered; }
.online_win .render td .orderProMoney {
    font-size:20px;
    border-bottom:4px double orangered;
}
.paycode {
    background:ghostwhite;
    cursor:pointer;
}
.big_paycode {
    padding:10px 20px;
    border:1px solid grey;
    background:ghostwhite;
    position:absolute;top:55%;left:40%;
    display:none;
}
.big_paycode .close {
    margin:10px 0;
    padding:5px;
    text-align:center;
    color:ghostwhite;
    background:darkred;
    cursor:pointer;
}
.big_paycode div:hover.close {
    background:red;
}
.online_win .render a.getSubmit {
    margin:20px;
    padding:5px 20px;
    color:lightgrey;
    background:darkred;
    cursor:pointer;
}
.online_win .render a:hover.getSubmit {
    color:white;
    background:orangered;
}

/*===== 内容列表 =====*/
.online_win .frame_right { position:absolute;top:0px;left:745px; }
.online_win .title {
    padding-bottom:5px;
    text-align:center;
}
.online_win .frame_con {
    margin-bottom:5px;
    width:250px;
    color:grey;
    border:5px solid rgb(20,20,20);
    background:rgb(20,20,20);
}
.online_win .edit_con {
    padding:0 5px;
    padding-bottom:5px;
    border-bottom:3px double rgb(60,60,60);
    background:rgb(50,50,50);
}
.online_win /*.frame_con*/ .radio { width:12px; }
.online_win /*.frame_con*/ input,.online_win /*.frame_con*/ select {
    padding:2px 5px;
    width:80px;
    color:ghostwhite;
    border:1px solid rgb(40,40,40);
    background:dimgrey;
}
.online_win .frame_con .con_one { margin:5px 0; }
.online_win .frame_con a { color:orangered;text-decoration:none; }
.online_win .edit_con b {
    padding:0 18px;
    border-right:1px dashed rgb(80,80,80);
    border-bottom:1px dashed rgb(80,80,80);
}
.online_win .submit {
    margin:10px 40px;
    padding:2px 20px;
    color:white;
    border:1px solid darkred;
    background:darkred;
}
.online_win button:hover.submit {
    border:1px solid orangered;
    background:orangered;
}
/*===== 时间线的动画设置 =====*/
.online_win .timetab {
    padding:5px; padding-top:2px;
    width:740px;
    color:grey;
    position:absolute;left:-5px;
}
.online_win .timetab a {
    color:grey;
    text-decoration:none;
}
.online_win .timetab a:hover { color:orangered; }
.online_win .timetab .tabt {
    padding-bottom:5px;
    text-align:center;
    background:rgb(20,20,20);
}
.online_win .timetab .title {
    padding:0;
    height:30px;
    border:5px solid rgb(20,20,20);
    border-bottom:2px solid rgb(20,20,20);
    border-top:0;
    background:rgb(50,50,50);
}
.online_win .timetab .title .tab {
    margin-right:1px; margin-bottom:1px;
    padding:4px 10px;
    width:125px;
    background:rgb(40,40,40);
    float:left;
}
.online_win .timetab .layerlist { clear:both; }
.online_win .timetab .layerlist .layer {
    padding:0 5px;
    height:250px;
    color:grey;
    border:5px solid rgb(20,20,20);
    border-top:0;
    background:rgb(50,50,50);
    overflow:auto;
}
.online_win .timetab .layerlist .set {
    width:190px;
}
.online_win .timetab .layerlist .attr {
    width:515px;
    position:absolute;top:60px;left:210px;
}
.online_win .timetab .layerlist .attr td { border-bottom:1px dotted rgb(70,70,70); }
.online_win .timetab .keyval { margin-right:15px;float:left; }
.online_win .timetab .keyval .left {
    width:25px;
    color:pink;
    border-right:0;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.online_win .timetab .keyval .right {
    width:30px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.online_win .timetab .keyval a {
    padding:1px 10px;
    font-size:14px;
    color:whitesmoke;
    background:rgb(80,80,80);
    cursor:pointer;
}
.online_win .timetab .keyval a:hover { background:black; }
.online_win .addTimeTab {
    width:730px;
    border:5px solid rgb(20,20,20);
    border-top:0;
    text-align:center;
    color:grey;
    background:rgb(50,50,50);
    cursor:pointer;
}
.online_win div:hover.addTimeTab { color:orangered; }
.online_win .addlayer {
    padding:2px 5px;
    width:730px;
    border:5px solid rgb(20,20,20);
    border-top:0;
    color:grey;
    background:rgb(50,50,50);
}


/*========== 动画作品列表 ==========*/
.online_list {
    margin:30px 0;
}
.online_list .condition {
    padding:5px 10px;
    width:100%;
    border-bottom:1px solid rgb(60,60,60);
    background:rgb(30,30,30);
}
.online_list .condition .attr {
    margin:5px auto;
    width:1000px;
    color:grey;
}
.online_list .condition a {
    padding:0 5px;
    color:grey;
    text-decoration:none;
    border:0;
}
.online_list .condition a:hover,.online_list .condition a.curr { color:orangered; }
.online_list .list {
    margin:20px auto;
    width:1000px;
}
.online_list .list a { text-decoration:none; }
.online_list .list a .prolist {
    margin:10px 15px;
    width:220px; height:200px;
    float:left;
}
.online_list .list .pro_one {
    width:210px; height:140px;
    border:5px solid grey;
    color:rgb(70,70,70);
    text-align:center;
    line-height:140px;
    font-size:40px;
    background:rgb(50,50,50);
    overflow:hidden;
}
.online_list .list .pname {
    padding:5px;
    color:lightgrey;
    text-align:center;
}
.online_list a:hover .prolist .pro_one { border:5px solid orangered; }
.online_list a:hover .prolist .pname { color:orangered; }
.online_list .list .pname .small {
    color:grey;
    font-size:14px;
}
/*渲染列表*/
.online_list table.list { color:grey; }
.online_list table.list td {
    padding:5px; padding-top:0;
    border-bottom:1px dashed rgb(60,60,60);
}