/*========== 这里是关于我们样式a(about) ==========*/


/*========== 窗口定位 ==========*/
.online_bg {
    padding:20px 0;
    width:100%;
    height:800px;
    background:rgb(40,40,40);
}
.online_win {
    margin:50px auto;
    width:960px;
    border:10px solid black;
    background:rgb(50,50,50);
    /*box-shadow: 10px 10px 5px #888888;*/
}
.online_win .timeline {
    height:35px;
    color:grey;
    background:black;
}
.online_win .animate {
    width:960px;
    height:540px;
    background:lightgrey;
    overflow:hidden;
}
.timeline div { float:left; }
.timeline .start,.timeline .stop {
    padding:0 10px;
    font-size:30px;
}
.timeline .stop { display:none; }
.timeline .time,.timeline .time div {
    width:860px;
    height:30px;
    filter:alpha(opacity:40);opacity:0.4;-moz-opacity:0.4;-khtml-opacity:0.4;
}
.timeline .time { margin:5px;background:blue; }
.timeline .time div {
    width:800px;
    background:deepskyblue;
    filter:alpha(opacity:60);opacity:0.6;-moz-opacity:0.86;-khtml-opacity:0.6;
}
.timeline .right img { width:40px; }


/*========== 动画内容 ==========*/
.img {
    width:218px;
    height:198px;
    background:gainsboro;
    border:1px solid darkgrey;
}
.img div {
    margin:0 auto;
    padding-top:10px;
    width:200px;
    height:150px;
    overflow:hidden;
}
.img .title {
    text-align:center;
}


/*========== 动画控制 ==========*/
.switch {
    margin:0 auto;
    margin-top:-50px;
    width:980px;
}
.onlinebtn {
    padding:2px 20px;
    border:1px solid orangered;
    border-radius:1px;
    color:white;
    font-family:'微软雅黑';
    font-size:20px;
    background:orangered;
    cursor:pointer;
}
a:hover .onlinebtn {
    border:1px solid darkred;
    background:darkred;
}