/*========== 这里是关于我们样式a(about) ==========*/


.opinion_con {
    margin:0 auto;
    width:1000px;
}


/*=== 列表 ===*/
/*意见列表opinion*/
.opinion_list { width:100%; }
.opinion_list .record {
    margin:10px 0;
    padding:10px;
    width:998px;
    border:1px solid rgb(230,230,230);
    border-radius:3px;
}
/*.opinion_list td {*/
    /*text-align:center;*/
    /*border:1px solid red;*/
/*}*/
.opinion_list .text {
    padding-left:10px;
    width:200px;
    text-align:left;
}
.opinion_list .first { width:70px; }
.opinion_list .first div {
    margin:5px;
    padding-right:20px;
    width:60px;height:40px;
    border-right:1px solid lightgrey;
    overflow:hidden;
}
.opinion_list .first img { width:60px; }
.opinion_list .record .detail { width:300px; }
.opinion_list .record .detail a { margin-left:2px; }
.opinion_list .record a {
    /*margin:0 5px;*/
    padding:5px 20px;
    color:white;
    text-decoration:none;
    background:orangered;
}
.opinion_list .record a:hover { background:darkred; }
.opinion_list .small  a { cursor:pointer; }
/*发布意见按钮*/
.s_search a.opinion_create {
    padding:5px 20px;
    color:white;
    text-decoration:none;
    background:red;
    /*position:absolute;right:0;*/
}
.s_search a:hover.opinion_create { background:darkred; }


/*=== 创建页面 ===*/
.home_create {
    margin:10px auto;
    width:998px;
    border:1px solid ghostwhite;
    border-radius:3px;
}
.form {
    margin:10px auto;
    width:750px;
}
.homebtn {
    padding:5px 20px;
    border:1px solid orangered;
    border-radius:3px;
    color:white;
    font-family:'微软雅黑';
    font-size:20px;
    background:orangered;
    cursor:pointer;
}


/*=== 详情页面 ===*/
.show_con {
    margin:10px auto;
    padding:20px 0;
    width:1000px;
    border:1px solid rgb(240,240,240);
}
.center { text-align:center; }
.table_create {
    margin:10px auto;
    padding:10px 50px;
    width:800px;
    border:1px solid rgb(240,240,240);
    border-radius:3px;
    color:grey;
}
.table_create td {
    padding-top:10px;
    padding-bottom:10px;
}
.table_create input {
    padding:4px 10px;
    width:90%;
    border:1px solid rgb(220,220,220);
    border-radius:3px;
    font-size:16px;
}
.table_create td select,.table_create td textarea {
    padding:5px 10px;
    border:1px solid lightgrey;
    color:grey;
}
.div_content {
    width:100%;height:100px;
    padding:5px;
    border:1px solid rgb(240,240,240);
    overflow:auto;
}


/*=== 创意列表页面 ===*/
.opinion_list p.cate {
    padding:10px 20px;
    border:1px solid gainsboro;
    border-radius:3px;
    background:rgb(250,250,250);
}
.opinion_list p.cate a {
    margin-left:5px;
    padding:0;
    color:grey;
    text-decoration:none;
}
.opinion_list p.cate a:hover {
    color:orangered;
    text-decoration:underline;
    border:0;
}
.opinion_list p.cate a.curr {
    color:orangered;
    border:0;
}
.opinion_list table.idea {
    margin:10px 0;
    padding:10px 0;
    width:100%;
    border:1px solid gainsboro;
    border-radius:3px;
    color:grey;
}
.opinion_list table.idea .img { width:220px; }
.opinion_list table.idea div {
    width:200px;height:100px;
    overflow:hidden;
}
.opinion_list table.idea .small {
    color:darkgrey;
    font-size:12px;
}
.opinion_list table.idea .con { margin:15px 0;font-size:14px; }
.opinion_list table.idea .right {
    margin:0 10px;float:right;color:darkgrey;
}
.opinion_list table.idea a {
    margin-right:10px;
    color:grey;
    text-decoration:none;
    float:left;
}
.opinion_list table.idea a:hover {
    color:black;
    text-decoration:none;
}


/*=== 创意详情页面 ===*/
.idea_show {
    margin:0 auto;
    width:1000px;
}
.idea_show .idea_left { float:left; }
.idea_show .idea_right { margin:10px;box-shadow:0 0 10px rgba(200,200,200,0.5);float:right; }
.idea_show .idea_left .idea_con { width:700px; }
.idea_show .idea_left .idea_con a.onclick { color:grey;cursor:pointer; }
.idea_show .idea_left .idea_con a:hover.onclick { color:red; }
.idea_show .idea_left .idea_con td { padding:5px 10px;padding-right:20px; }
.idea_show .idea_left .idea_con .showVideo { color:orangered;text-decoration:none; }
.idea_show .idea_left .idea_con p.title {
    padding-bottom:20px;
    color:black;
    font-size:30px;
    font-weight:bold;
    border-bottom:1px solid lightgrey;
}
.idea_show .idea_right .userinfo {
    margin:20px 10px;
    width:260px;
}
.idea_show .idea_right .userinfo p.title {
    padding-bottom:10px;
    color:grey;
    font-size:20px;
    border-bottom:1px solid lightgrey;
}
.idea_show .idea_right .userinfo p {
    margin:10px 0;
}
.idea_con #con {
    padding:0 10px;
    border:1px solid rgba(240,240,240,1);
    border-radius:5px;
    display:none;
}
.img_size_div {
    margin:5px;padding:5px;
    width:190px;height:290px;
    border:1px solid lightgrey;
    overflow:hidden;
}
.img_size_img { width:200px; }
textarea.index_intro {
    border:0;
    resize:none;
    overflow:hidden;
}
textarea.show_intro {
    width:650px;height:200px;
    border:1px dashed ghostwhite;
    resize:none;
    overflow:auto;
}

/*=== 查看限制 ===*/
a#lookopen,a#lookclose { color:lightgrey;cursor:pointer; }
a:hover#lookopen,a:hover#lookclose { color:red; }
.laymsg,.layback {
    padding:10px;
    width:400px;height:150px;
    border:1px solid lightgrey;
    background:white;
    box-shadow:0 0 20px rgba(100,100,100,.5);
    text-align:center;
    /*position:absolute;left:30%;top:200px;*/
    position:fixed;left:30%;top:20%;
    display:none;
}
/*.layback { height:100px; }*/
.laymsg a.close,.layback a.close { position:relative;top:-140px;float:right;cursor:pointer; }
/*.layback a.close { top:-100px; }*/
.laymsg a.close:hover,.layback a.close:hover { color:red; }
.laymsg p a,.layback p a { padding:5px 10px;color:white;text-decoration:none;background:red;cursor:pointer; }
.laymsg p a:hover,.layback p a:hover { background:darkred; }
.layback p#backcon,.laymsg p#msgcon { color:red; }