/*=================== 这里是个人后台样式 ======================*/


.per_body {
    margin:10px auto;
    margin-top:40px;
    width:1000px;
    height:900px;
    background:rgb(252,252,252);
    border:1px solid rgb(230,230,230);
    font-size:20px;
}
.per_menu {
    margin:0 auto;
    padding-bottom:10px;
    width:965px;
    font-family:'黑体';
    font-size:16px;
    /*font-weight:bold;*/
    border-bottom:1px solid rgb(240,240,240);
}
.per_menu select {
    padding:2px 5px;
    border:1px solid rgb(230,230,230);
    font-weight:bold;
    font-size:16px;
    color:grey;
}
.per_menu a {
    margin:0;
    padding:0 5px;
    border:0;
    color:grey;
    text-decoration:none;
    cursor:pointer;
}
.per_menu a:hover,.per_menu a.curr { color:#00b7ee; }
.per_menu .right { float:right; }
.per_menu .right img {
    width:20px;height:20px;
    border-radius:2px;
    position:relative;top:5px;
    overflow:hidden;
}
.per_menu a.userinfo {
    padding:8px 15px;
    color:white;
    background:grey;
}
.per_menu a:hover.userinfo { background:darkred; }
.per_menu .userhead {
    width:40px; height:40px;
    overflow:hidden;
    float:left;
    position:relative; top:-12px;
}
.per_work {
    margin:5px;
    padding:5px;
    /*height:350px;*/
    /*border-bottom:1px solid gainsboro;*/
}
div.per_waterfall {
    margin:10px 5px;
    padding:5px;
    width:220px; height:120px;
    border:1px solid rgb(240,240,240);
    background:white;
    float:left;
    cursor:pointer;
}
div:hover.per_waterfall { border:1px solid red; }
.per_waterfall .img {
    width:220px; height:100px;
    text-align:center;
    color:#cccccc;
    line-height:100px;
    background:#e5e5e5;
    overflow:hidden;
}
div.per_waterfall .text { text-align:center;color:grey; }
div:hover.per_waterfall .text { color:red; }
.per_waterfall .img img { width:220px; }

.per_body p {
    margin:0;
    padding:5px 10px;
    font-size:12px;
}
.per_left p.title,.per_center p.title,.per_right p.title {
    clear:both;
    /*标题颜色*/
    /*background:#fff2e5;*/
    /*border-bottom:1px solid #ffbf80;*/
    color:grey;
    background:rgb(245,245,245);
    border-bottom:1px solid gainsboro;
}
.per_left p.title a,.per_center p.title a,.per_right p.title a,.per_list p.title a {
    color:grey;
    text-decoration:none;
    float:right;
}
.per_left p.title a:hover,.per_center p.title a:hover,.per_right p.title a:hover,.per_list p.title a:hover { color:red; }
/*页面顶部布局*/
.per_top {
    padding-left:10px;
    padding-bottom:10px;
    width:988px;height:100px;
    border:1px solid lightgrey;
    color:rgb(14,144,210);
    background:url(../../uploads/images/2016/ppt.png);
}
.per_top a { color:rgb(14,144,210);text-decoration:none; }
.per_top a:hover,.per_top a.curr_link { color:red; }
.per_top .t { margin-top:8px;font-size:14px; }
/*页面主体布局*/
.per_left,.per_center,.per_right {
    height:500px;
    float:left
}
.per_left div,.per_center div,.per_right div {
    margin:5px;
    border:1px solid /*lightblue*/lightgrey;
}
.per_left div { margin-left:0; }
.per_left { width:210px; }
.per_left table { margin:0 2%;width:98%; }
.per_left td { padding:0 10px;color:grey;font-size:14px; }
.per_left td a { color:rgb(14,144,210);text-decoration:none;font-size:14px; }
.per_left td a:hover { color:red; }
.per_left .cometo { color:grey;font-weight:bold; }
/*页面左边布局*/
.per_left1,.per_left2 { width:196px; }
.per_left1 { height:210px; }
.per_left1 .img {
    margin:10px auto;
    margin-bottom:0px;
    /*padding:2px;*/
    width:120px; height:100px;
    /*border:1px solid lightgrey;*/
    overflow:hidden;
}
.per_left1 .nicheng {
    margin:0;
    text-align:center;
    font-size:14px;
    border:0;
    color:rgb(14,144,210);
}
.per_left2 { height:300px; }
/*页面中间布局*/
.per_center { width:590px; }
.per_center table { margin:5px; }
.per_center td { padding:0 10px;color:grey;font-size:14px; }
.per_center1,.per_center2 { width:576px; }
.per_center2 { height:200px; }
.per_center2 span:hover { color:red;cursor:pointer; }
.per_center2 a:hover .img { border:1px solid red; }
.per_center2 a:hover .vname { color:red; }
.per_center2 .video {
    margin:5px 0 0 4px;
    width:110px;height:80px;
    border:0;
    float:left;
}
.per_center2 .video .img {
    margin:0 auto;margin-top:5px;
    width:100px;height:50px;
    background:#e5e5e5;
    overflow:hidden;
}
.per_center2 .video .vname {
    padding:0;
    text-align:center;
    color:grey;
}
/*页面右侧布局*/
.per_right { margin-left:5px;width:192px; }
.per_right1,.per_right2,.per_right3 { width:188px; }
.per_right1 { height:200px; }
.per_right1 .friend {
    margin-left:10px;
    margin-right:0;
    width:80px;
    height:70px;
    border:0;
    float:left;
    cursor:pointer;
}
.per_right1 .img {
    margin:0 auto;
    margin-top:5px;
    padding:2px;
    width:50px; height:50px;
    border:1px solid lightgrey;
    border-radius:3px;
    background:#e5e5e5;
}
.per_right1 .img .imgHidden {
    margin:0;
    width:50px;
    height:50px;
    border:0;
    border-radius:3px;
    overflow:hidden;
}
.per_right1 .friend:hover .img { border:1px solid red; }
.per_right1 .friend:hover .nicheng { color:red; }
.per_right1 .nicheng { margin:0;padding:0;color:grey;text-align:center; }
.per_right2 { height:200px; }
.per_right3 { height:256px; }
.per_right3 .title span { cursor:pointer; }
.per_right3 .img {
    margin:5px 0 0 8px;
    width:80px; height:100px;
    background:#e5e5e5;
    overflow:hidden;
    float:left;
}
/*页面底部布局*/

.per_bottom {
    margin-top:610px;
    margin-bottom:100px;
    width:100%;height:100px;
    /*border:1px solid lightblue;*/
}


/*列表页面*/
.per_list {
    margin:5px 0;
    width:790px;
    color:grey;
    float:left;
}
.per_list p {
    background:rgb(245,245,245);
    border:1px solid lightgrey;
    border-bottom:0;
}
.per_list p#search {
    margin:0 auto;
    width:700px;
    border:0;
    background:0;
}
.per_list select {
    padding:1px 5px;
    color:grey;
    border:1px solid lightgrey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
}
.per_list .list {
    margin:0 auto;
    padding:20px;
    width:790px;
    border:1px solid lightgrey;
    border-top:0;
    font-size:14px;
}
.per_list .l_pic {
    height:800px;
    border:1px solid lightgrey;
    border-top:0;
}
.per_list .l_design {
    height:820px;
    border:1px solid lightgrey;
    border-top:0;
}
.per_list .l_design .per_waterfall {
    margin-bottom:30px;margin-left:7px;
    width:125px;height:200px;
}
.per_list .l_design .img {
    width:125px;height:200px;
}
.per_list .list .head {
    width:200px; height:200px;
    overflow:hidden;
}
.per_list .list p.user_info {
    padding:5px;
    border:0;
    background:white;
}
.per_list .list .uname {
    margin:5px 0;
    padding:5px 0;
    width:100%;
    border-top:1px dotted lightgrey;
    border-bottom:1px dotted lightgrey;
}
.per_list .list .line {
    margin:10px 0;
    padding:10px 0;
    border-top:1px dotted lightgrey;
    border-bottom:1px dotted lightgrey;
}
.per_list td { padding:5px; }
.per_list td .nopic {
    margin:0;
    width:200px;height:200px;
    text-align:center;
    line-height:200px;
    background:rgb(240,240,240);
    border:0;
}
.per_list td a {
    padding:4px 10px;
    border:1px solid lightgrey;
    color:grey;
    text-decoration:none;
    cursor:pointer;
}
.per_list td a:hover { border:1px solid red;color:red; }
.per_list .message {
    margin:20px 10px;
    width:720px;height:65px;
    border:1px solid rgb(230,230,230);
    border-bottom:1px dashed rgb(150,150,150);
    color:grey;
}
.per_list textarea {
    padding:5px;
    width:710px;
    border:0;
    border-bottom:1px dotted lightgrey;
    color:grey;
    background:white;
    resize:none;
    overflow:hidden;
}
.per_list .message p.right {
    padding:0 5px;
    background:0; border:0;
    float:right;
}
.per_list .message a {
    padding:1px 10px;
    text-decoration:none;
    color:rgb(14,144,210);
    border:1px solid ghostwhite;
}
.per_list .message a:hover { border:1px solid red;color:red; }
.per_list .per_waterfall p.text { border:0;background:0; }
.list .frield {
    margin-left:20px;margin-bottom:20px;
    width:215px;height:100px;
    border-radius:5px;
    background:rgb(252,252,252);
    overflow:hidden;
    float:left;
}
.list .frield .left {
    margin-top:5px;margin-left:10px;
    width:90px;height:90px;
    overflow:hidden;
    float:left;
}
.list .frield .left p {
    padding:0; padding-top:5px;
    border:0;background:0;
}
.list .frield p span.uname {
    font-size:18px;border:0;
}
.list .frield p span.level {
    color:orangered;
    font-weight:bold;
    float:right;
}
.list .frield .toshow { text-align:right; }
.list .frield .toshow a {
    color:orangered;
    text-decoration:none;
}
.list .frield .toshow a:hover { text-decoration:underline; }
.list .frield .head {
    border:1px solid lightgrey;
    border-radius:3px;
    background:gainsboro;
}
.list .top_bg {
    margin:0 10px;
    width:700px; height:77px;
    border:0;
    background:ghostwhite;
    overflow:hidden;
}
.list #change_bg {
    padding:5px 10px;
    color:red;
    border:1px solid red;
    cursor:pointer;
}
.blue { color:rgb(14,144,210); }
.red { color:red; }
a { cursor:pointer; }
/*用户签到列表*/
.list .rili {
    width:100%; height:470px;
    border:1px solid lightgrey;
}
.list .rili .oneday,.list .rili .overdue,.list .rili .nodue {
    margin:5px;
    width:112px; height:80px;
    text-align:center;
    border:1px solid lightgrey;
    float:left;
}
.list .rili .oneday .title,.list .rili .overdue .title,.list .rili .nodue .title {
    border:1px solid ghostwhite;
    background:ghostwhite;
}
.list .rili .oneday .signbtn,.list .rili .overdue .signbtn,.list .rili .nodue .signbtn {
    margin:15px auto;
    width:60px; height:20px;
    text-align:center;
    border:1px solid lightgrey;
    background:ghostwhite;
    cursor:pointer;
}
.list .rili .day_curr {
    border:1px solid orangered;
    background:rgb(255,245,250);
}
.list .rili .day_curr .title {
    color:white;
    border:1px solid orangered;
    background:orangered;
}
.list .rili .overdue:hover {
    border:1px solid orange;
}
.list .rili .oneday:hover,.list .rili .nodue:hover,.list .rili .due_curr {
    border:1px solid orange;
    background:rgb(255,250,234);
}
.list .rili .oneday:hover .title,.list .rili .nodue:hover .title,.list .rili .due_curr .title {
    color:white;
    border:1px solid orange;
    background:orange;
}
.list .rili .oneday .signbtn:hover,.list .rili .nodue .signbtn:hover,.list .rili .due_curr .signbtn ,.list .rili .oneday .curr{
    color:white;
    border:1px solid orange;
    background:orange;
}
.list .rili .oneday .curr {
    color:white;
    border:1px solid orangered;
    background:orangered;
}
.list .usersign {
    width:100%;
    border:1px solid ghostwhite;
}
.list .usersign th { background:ghostwhite; }
.list .usersign td {
    text-align:center;
    border-bottom:1px dashed lightgrey;
    background:rgb(253,253,253);
}

/*头像*/
.per_right_head {
    margin-top:5px;
    width:200px;
    border:1px solid lightgrey;
    float:right;
}
.per_right_head .head {
    margin:10px auto;
    margin-bottom:0px;
    padding:2px;
    width:120px; height:100px;
    border:1px solid lightgrey;
}
.per_right_head .img {
    width:120px; height:100px;
    background:#e5e5e5;
    overflow:hidden;
}
.per_right_head .title {
    color:grey;
    background:rgb(245,245,245);
    border-bottom:1px solid gainsboro;
}
.per_right_head .nicheng {
    margin:0;
    text-align:center;
    font-size:14px;
    border:0;
    color:rgb(14,144,210);
}
.per_right_head table { margin:0 2%;margin-bottom:5px;width:98%; }
.per_right_head td { padding:0 10px;color:grey;font-size:14px; }
.per_right_head td a { color:rgb(14,144,210);text-decoration:none;font-size:14px; }
.per_right_head td a:hover { color:red; }
.per_right_head .menu {
    padding:5px 20px;
    font-size:16px;
    color:grey;
    border-bottom:1px dotted lightgrey;
    cursor:pointer;
}
.per_right_head div:hover.menu,.per_right_head div.m_curr {
    color:red;background:ghostwhite;
}


/*编辑页面*/
.per_list table.tform { margin:0 20%;font-size:16px; }
.per_list table.tform input {
    padding:5px 10px;
    border:1px solid lightgrey;
    border-radius:5px;
    font-size:16px;
}
.per_list .tform input { width:300px; }
.per_list .tform textarea {
    width:310px; height:200px;
    border:1px solid lightgrey;
    border-radius:5px;
}
.per_list .tshow {
    padding:5px 10px;
    width:100%;
    border-bottom:1px solid ghostwhite;
}
button.companybtn {
    padding:5px 20px;
    border:1px solid lightgrey;
    /*border-radius:3px;*/
    color:grey;
    /*font-family:'微软雅黑';*/
    font-size:14px;
    background:white;
    cursor:pointer;
}
button:hover.companybtn {
    border:1px solid red;
    color:red;
}
#sethead input {
    padding:5px 20px;
    border:1px solid #cccccc;
    color:#808080;
    background:none;
    cursor:pointer;
}
#sethead input[type="submit"]:hover {
    border:1px solid #ff4466;
    color:#ff4466;
}