/*========== 这里是供应单位样式s(supply) ==========*/


/*===== 供应单位面包屑 =====*/
.s_crumb {
    padding:5px 0;
    width:100%;
    background:rgb(250,250,250);
    border-bottom:1px solid lightgrey;
}
.s_crumb .crumb {
    margin:0 auto;
    width:1000px;height:25px;
}
.s_crumb .right {
    color:grey;
    float:right;
}


/*===== 供应单位主体 =====*/
.s_con {
    margin:0 auto;
    width:1000px;
}

/*=== 搜索 ===*/
.s_search {
    padding:10px 30px;
    width:938px;
    background:rgb(250,250,250);
    border-radius:3px;
    border:1px solid rgb(240,240,240);
    font-size:18px;
}
.s_select {
    width:120px;height:30px;
    border-radius:3px;
    font-family:'微软雅黑';
    font-size:20px;
}

/*=== 列表 ===*/
/*供应列表supply*/
.s_list { width:730px; }
.s_list .record {
    margin:10px 0;
    padding:10px;
    width:708px;
    border:1px solid rgb(230,230,230);
    border-radius:3px;
    font-size:14px;
}
.s_list .record td { width:30%; }
/*.s_list .record*/ a.toshow {
    padding:3px 20px;
    color:lightgrey;
    text-decoration:none;
    background:darkred;
}
/*.s_list .record*/ a.toshow:hover { color:white;background:red; }
/*娱乐列表entertain*/
.e_list { width:860px; }
.e_list .record {
    margin:20px 0;
    padding:0 5px;
    width:728px;
    /*height:80px;*/
    border:1px solid rgb(230,230,230);
    border-radius:3px;
}
.e_list td div.title {
    font-size:16px;
}
.e_list td div.con {
    padding:5px 0;
    width:310px; height:30px;
    border:1px dashed rgb(250,250,250);
}
.e_list .img {
    width:180px;height:60px;
    overflow:hidden;
}
.e_list div {
    font-size:16px;
}
.e_list div.title { font-size:16px; }
.e_list div.comName { padding-top:5px;width:150px;font-size:12px; }
/*租赁列表rent*/
.s_list .td_r_img {
    width:60px;height:60px;
}
.s_list .r_img {
    margin:0 auto;
    width:50px;height:50px;
    overflow:hidden;
}

/*=== 广告 ===*/
/*供应广告supply*/
.s_right {
    width:280px;height:500px;
    overflow:hidden;
    /*position:absolute;top:225px;right:0;*/
}
/*娱乐广告entertain*/
.e_right {
    width:260px;height:500px;
    overflow:hidden;
    /*position:absolute;top:225px;right:0;*/
}