/*========== 这里是供应单位样式s(supply) ==========*/


/*===== 供应单位面包屑 =====*/
.s_crumb {
    padding:5px;
    width:100%;
    background:rgb(250,250,250);
    border-bottom:1px solid lightgrey;
}
.s_crumb .crumb {
    margin:0 auto;
    width:1000px;height:25px;
}
.s_crumb .right {
    color:grey;
    float:right;
}


/*===== 供应单位主体 =====*/
.s_con {
    margin:0 auto;
    width:1000px;
}

/*=== 搜索 ===*/
.s_search {
    padding:10px 30px;
    width:938px;
    background:rgb(250,250,250);
    border-radius:3px;
    border:1px solid rgb(240,240,240);
}
.s_select {
    width:80px;height:25px;
    border-radius:3px;
}

/*=== 列表 ===*/
/*供应列表supply*/
.s_list { width:730px; }
.s_list .record {
    margin:10px 0;
    padding:10px;
    width:708px;
    border:1px solid rgb(230,230,230);
    border-radius:3px;
}
/*娱乐列表entertain*/
.e_list { width:860px; }
.e_list .record td {
    padding:5px;
    width:226px;
}
.e_list .record {
    margin:20px 0;
    padding:0 10px;
    width:828px;
    border:1px solid rgb(230,230,230);
    border-radius:3px;
}
.e_list .record td {
    padding:5px;
    /*818/4-10=194.5*/
    width:194px;height:150px;
}
.e_list td.title {
    height:30px;
    border-bottom:1px solid rgb(240,240,240);
}
.e_list .img {
    margin:0 auto;
    width:190px;height:90px;
    overflow:hidden;
}
.e_list p {
    margin:0;
    padding:0;
    text-align:center;
    font-size:14px;
}
.e_list p.title { font-size:18px; }
/*租赁列表rent*/
.r_list td.img {}

/*=== 广告 ===*/
/*供应广告supply*/
.s_right {
    width:280px;height:500px;
    overflow:hidden;
    /*position:absolute;top:225px;right:0;*/
}
/*娱乐广告entertain*/
.e_right {
    width:160px;height:500px;
    overflow:hidden;
    /*position:absolute;top:225px;right:0;*/
}