/*========== 这里是供应单位样式s(supply) ==========*/


/*===== 供应单位面包屑 =====*/
.s_crumb {
    padding:5px;
    width:100%;
    background:rgb(250,250,250);
    border-bottom:1px solid lightgrey;
}
.s_crumb .crumb {
    margin:0 auto;
    width:1000px;height:25px;
}
.s_crumb .right {
    color:grey;
    float:right;
}


/*===== 供应单位主体 =====*/
.s_con {
    margin:0 auto;
    width:1000px;
}

/*=== 搜索 ===*/
.s_search {
    padding:10px 30px;
    width:938px;
    background:rgb(250,250,250);
    border-radius:3px;
    border:1px solid rgb(240,240,240);
}

/*=== 列表 ===*/
.s_list { width:730px; }
.record {
    margin:10px 0;
    padding:10px;
    width:708px;
    border:1px solid rgb(230,230,230);
    border-radius:3px;
}
.record td {
    padding:5px;
    width:226px;
}

.s_right {
    width:280px;height:500px;
    overflow:hidden;
    /*position:absolute;top:225px;right:0;*/
}
.s_right { height:500px; }