/*==================== 这里是瀑布流样式 ====================*/

.pbl_title {
    margin:10px auto;
    margin-bottom:0;
    padding:5px 20px;
    width:980px;
    border:1px solid #c8c8c8;
    border-bottom:1px solid #dcdcdc;
    color:grey;
    background:#f0f0f0;
}
.pbl_title a {
    margin:0 5px;
    color:grey;
    text-decoration:none;
    cursor:pointer;
}
.pbl_title a:hover {
    color:red;
    text-decoration:underline;
}
.pbl_out {
    margin:10px auto;
    margin-top:0;
    padding:0 5px;
    width:1010px;
    height:340px;
    border:1px solid #c8c8c8;
    border-top:0;
}
.pbl_out2 {
    margin:10px auto;
    padding:0 5px;
    width:1010px;
    border:1px solid #c8c8c8;
}
.pbl_out .pbl_one .pbl_in {
    margin:10px;
    padding:5px;
    width:220px;height:300px;
    border:1px solid #dcdcdc;
    box-shadow:0 0 20px #ffffff;
    background:#ffffff;
    cursor:pointer;
    float:left;
}
.pbl_out .pbl_one:hover .pbl_in {
    border:1px solid #b4b4b4;
    box-shadow:0 0 20px #c8c8c8;
}
.pbl_in { font-size:14px;color:black; }
.pbl_in .img {
    width:218px;height:248px;
    border:1px solid #e6e6e6;
    color:gainsboro;
    font-size:30px;
    line-height:200px;
    background:#f0f0f0;
    text-align:center;
    overflow:hidden;
}
.pbl_in .title {
    padding:5px 0;
    text-align:center;
}
span.right {
    color:grey;
    font-size:13px;
    float:right;
}
.pbl_in a {
    color:black;
    text-decoration:none;
}
.pbl_in a:hover { text-decoration:underline; }
.pbl_in a.click {
    color:grey;
    text-decoration:none;
}
.pbl_in a.click:hover {
    color:red;
    text-decoration:none;
}

/*=== 红色 ===*/
a.star { color:red; }

/*=== 详情页面 ===*/
.pbl_show_title {
    color:black;background:white;
}
.pbl_show_user {
    margin:0 10px;padding:5px 10px;
    font-size:14px;
    border-bottom:1px dashed lightgrey;
}
.pbl_show_con {
    margin:10px;
    width:990px;
    overflow:hidden;
}
.pbl_intro {
    margin:10px;
    padding:10px;
    width:970px;
    height:200px;
    border:1px solid lightgrey;
    overflow:auto;
}
.pbl_show_btn,.pbl_show_btn a {
    padding:10px;text-align:center;
}
.pbl_show_btn a {
    margin:0 5px;
    padding:5px 20px;
    border-radius:3px;
    background:#f0f0f0;
    cursor:pointer;
}
.pbl_show_btn a:hover { color:white;background:darkred; }