/*======系统后台样式调整 admin_cus======*/


.icon { width:15px; }
.list_center { text-align:center; }
.pic_size_small { width:30px; }


/*=======action层叠列表========*/
.action_pos {
    float:right;
}
.action_span {
    padding:5px 10px;
    border:1px solid lightgray;
    cursor:pointer;
}
.action_change { margin:10px; }
.action_sub {
    margin:10px;
    padding:10px;
    width:40%;
    border:1px solid lightgray;
    background:rgb(245,245,245);
    float:left;
}
.action_sub_btn {
    padding:3px 10px;
    border:1px solid lightgray;
    background:rgb(240,240,240);
}
.action_blue {
    color:rgb(14,144,210);
}
.action_red {
    color:rgb(220,80,75);
}
.clear {
    clear:both;
}
.action_border {
    border-bottom:0;
}


/*=== 返回键 back ===*/
button.backbtn {
    padding:5px 20px;
    border:1px solid orangered;
    border-radius:3px;
    color:white;
    font-family:'微软雅黑';
    font-size:20px;
    cursor:pointer;
    background:orangered;
}


/*=== 增加 increase ===*/
.increase,.reduce {
    padding:2px 5px;
    font-size:12px;
    border:1px solid lightgrey;
}
a:hover.increase,a:hover.reduce { background:white; }
/*=== 增加 reduce ===*/


/*=== 系统后台详情页面的内容 ===*/
.admin_show_con {
    width:400px;height:200px;
    border:1px solid lightgrey;
    overflow:auto;
}
.admin_show_img_size { width:500px; }
/*=== 系统后台详情页面的内容 ===*/


/*=== 系统后台添加修改页面 ===*/
.admin_border {
    padding:5px;
    border:1px dashed lightgrey;
}
.admin_yulan,.admin_yulan2,.admin_yulan3,.admin_yulan4,.admin_yulan5,.admin_yulan6 {
    margin-left:5px;
    width:100px;
    height:25px;
    background:black;
    float:right;
}
.switch_pic {
    width:100%;
    background:rgb(240,240,240);
    text-align:center;
    cursor:pointer;
}
.switch_pic a { padding:5px 250px; }
/*=== 系统后台添加修改页面 ===*/